# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
.next
out
build
dist

# Misc
.DS_Store
*.pem

# Debug
*.log

# Local env files
.env*.local
.env

# Git
.git
.gitignore

# Documentation
README.md
.editorconfig

# IDE
.vscode
.idea
*.swp
*.swo

# Testing
coverage
.nyc_output

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

